body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.btn {
  -webkit-box-sizing: border-box;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 35px;
  font: inherit;
  line-height: 1.125;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  -webkit-transition:
     color ease-in-out 0.1s,
     background-color ease-in-out 0.1s;
   -o-transition:
     color ease-in-out 0.1s,
     background-color ease-in-out 0.1s;
   transition:
     color ease-in-out 0.1s,
     background-color ease-in-out 0.1s;
}

.btn:hover {
  background-color: #e74246;
}

.btn:focus,
.btn:active {
  background-color: #d7373b;
  outline: none;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3)
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.slider {
  position: relative;
}

.slider-item {
  display: none;
}

.slider-toggle:nth-of-type(1):checked ~ .slider-list .slider-item:nth-child(1),
.slider-toggle:nth-of-type(2):checked ~ .slider-list .slider-item:nth-child(2),
.slider-toggle:nth-of-type(3):checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-controls {
  box-sizing: content-box;
  position: absolute;
  bottom: 87.5px;
  left: 50%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 360px;
  margin-left: -180px;
}

.controls-item {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.controls-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  background-color: #ffffff;
  border-radius: 50%;
}

.controls-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-top: -4px;
  margin-left: -4px;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: border-color ease-in-out 0.1s;
  -o-transition: border-color ease-in-out 0.1s;
  transition: border-color ease-in-out 0.1s;
}

.slider-toggle:nth-of-type(1):checked ~ .slider-controls .controls-item:nth-child(1)::after,
.slider-toggle:nth-of-type(2):checked ~ .slider-controls .controls-item:nth-child(2)::after,
.slider-toggle:nth-of-type(3):checked ~ .slider-controls .controls-item:nth-child(3)::after {
  border-color: #c1c1c1;
}

.slider-toggle:nth-of-type(1):focus ~ .slider-controls .controls-item:nth-child(1),
.slider-toggle:nth-of-type(2):focus ~ .slider-controls .controls-item:nth-child(2),
.slider-toggle:nth-of-type(3):focus ~ .slider-controls .controls-item:nth-child(3) {
  -webkit-box-shadow: inset 0 0 0 2px rgba(193, 193, 193, 0.6);
  box-shadow: inset 0 0 0 2px rgba(193, 193, 193, 0.6);
}

.main-header {
  background-color: #eeeeee;
}

.header-logo {
  display: block;
  width: 160px;
  height: 65px;
  margin-right: 100px;
  padding-top: 49px;
  padding-bottom: 1px;
  -webkit-transition: opacity ease-in-out 0.1s;
  -o-transition: opacity ease-in-out 0.1s;
  transition: opacity ease-in-out 0.1s;
}

.header-logo:hover[href] {
  opacity: 0.8;
}

.header-logo:focus[href],
.header-logo:active[href] {
  opacity: 0.3;
  outline: none;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.site-navigation,
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0;
  padding: 68px 0 5px;
  list-style: none;
}

.site-navigation {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 640px;
  margin-right: 60px;
}

.user-navigation {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 200px;
}

.site-item {
  margin: 0 23px;
}

.site-current,
.user-current {
  position: relative;
}

.site-current::after,
.user-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.site-link,
.user-link {
  display: inline-block;
  vertical-align: ;
  padding: 6px 0;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  outline: none;
  -webkit-transition: color ease-in-out 0.1s;
  -o-transition: color ease-in-out 0.1s;
  transition: color ease-in-out 0.1s;
}

.user-link {
  margin-left: 46px;
}

.site-link:hover[href],
.user-link:hover[href],
.site-link:focus[href],
.user-link:focus[href] {
  color: #fb565a;
}

.site-link:active[href],
.user-link:active[href] {
  color: rgba(0, 0, 0, 0.3);
}

.user-cart {
  display: inline-block;
  vertical-align: ;
  padding-left: 41px;
  background-image: url("../img/cart-icon.svg");
  background-position: 0 13px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.title {
  padding-top: 76px;
  padding-bottom: 109px;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.main-content {
  padding-bottom: 60px;
}

.content-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 53px;
}

.content-catalog .content-left {
  width: 260px;
}

.content-catalog .content-right {
  width: 760px;
}

.features {
  color: #283136;
  background-color: #eeeeee;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  padding-top: 76px;
  padding-bottom: 80px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.features-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: calc(100% - 31px) bottom;
}

.features-item:nth-child(2) {
  background-image: url("../img/slide2.png");
}

.features-item:nth-child(3) {
  background-image: url("../img/slide3.png");
}

.features-title {
  width: 560px;
  margin: 0 0 26px;
  padding: 0;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
}

.features-text {
  width: 420px;
  margin: 0 0 40px;
}

.features-btn {
  min-width: 240px;
  max-width: 360px;
}

.services {
  margin-bottom: 2px;
  padding-top: 80px;
  -webkit-box-shadow: 0 22px 0 -20px #eeeeee;
  box-shadow: 0 22px 0 -20px #eeeeee;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 300px;
  margin-right: 40px;
  padding-right: 60px;
  padding-bottom: 80px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 146px;
  margin-bottom: 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-websites::before {
  background-color: #fb565a;
  background-image: url("../img/websites.png");
}

.services-applications::before {
  background-color: #00ca74;
  background-image: url("../img/applications.png");
}

.services-presentations::before {
  background-color: #efc849;
  background-image: url("../img/presentation.png");
}

.services-title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  width: 260px;
  margin: 0 0 33px;
}

.services-btn {
  min-width: 160px;
  max-width: 260px;
  margin-top: auto;
}

.services-applications .services-btn {
  background-color: #00ca74;
}

.services-applications .services-btn:hover {
  background-color: #00bc6c;
}

.services-applications .services-btn:focus,
.services-applications .services-btn:active {
  background-color: #00aa62;
}

.services-presentations .services-btn {
  background-color: #efc84a;
}

.services-presentations .services-btn:hover {
  background-color: #eab534;
}

.services-presentations .services-btn:focus,
.services-presentations .services-btn:active {
  background-color: #e5a722;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2px;
  padding-top: 40px;
  padding-bottom: 63px;
  -webkit-box-shadow: 0 22px 0 -20px #eeeeee;
  box-shadow: 0 22px 0 -20px #eeeeee;
}

.about-left {
  width: 660px;
}

.about-right {
  width: 360px;
}

.about-lead {
  display: block;
  margin: 33px 0;
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
}

.about-text {
  margin: 0 0 40px;
}

.about-est {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-item {
  position: relative;
  padding: 12px 0 12px 36px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-logo {
  width: 360px;
  height: 208px;
  margin: 0 0 36px;
}

.about-right .about-est {
  text-align: center;
}

.about-stats {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.about-stats td,
.about-stats th {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 32%;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  vertical-align: top;
}

.about-stats td {
  padding-top: 30px;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.about-stats sup {
  position: relative;
  top: 15px;
  font-size: 26px;
  vertical-align: top;
}

.about-stats th {
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.partners {
  margin-bottom: 22px;
  -webkit-box-shadow: 0 22px 0 -20px #eeeeee;
  box-shadow: 0 22px 0 -20px #eeeeee;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  height: 180px;
  margin-right: 40px;
  padding-top: 2px;
}

.partners-item::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 64px;
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partners-item:nth-child(4n) {
  margin-right: 0;
}

.partners-item:nth-child(4n)::after {
  display: none;
}

.partners-link {
  opacity: 0.2;
  outline: none;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;

}

.partners-link:hover,
.partners-link:focus {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

.partners-link img {
  display: block;
}

.form-filter {
  margin: 0 0 28px;
  padding: 0;
  border: none;
}

.form-filter:first-child {
  margin-bottom: 54px;
}

.form-title {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.form-filter:first-child .form-title {
  margin-bottom: 50px;
}

.form-options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.label-radio,
.label-check {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 16px;
  cursor: pointer;
  -webkit-transition:
    color ease-in-out 0.1s,
    opacity ease-in-out 0.1s;
  -o-transition:
    color ease-in-out 0.1s,
    opacity ease-in-out 0.1s;
  transition:
    color ease-in-out 0.1s,
    opacity ease-in-out 0.1s;
}

.label-radio::before,
.label-radio::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.label-radio::before {
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid #4d4d4d;
}

.label-radio::after {
  display: none;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
}

.input-radio:checked ~ .label-radio::after {
  display: block;
}

.label-check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-size: 23px 23px;
  background-repeat: no-repeat;
  opacity: 0.4;
  -webkit-transition:
    color ease-in-out 0.1s,
    opacity ease-in-out 0.1s;
  -o-transition:
    color ease-in-out 0.1s,
    opacity ease-in-out 0.1s;
  transition:
    color ease-in-out 0.1s,
    opacity ease-in-out 0.1s;
}

.input-check:checked ~ .label-check::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
}

.label-radio:hover,
.label-check:hover,
.input-radio:focus ~ .label-radio,
.input-check:focus ~ .label-check {
  color: #000000;
}

.label-radio:hover::before,
.label-radio:hover::after,
.input-radio:focus ~ .label-radio::before,
.input-radio:focus ~ .label-radio::after,
.label-check:hover::before,
.input-check:focus ~ .label-check::before {
  opacity: 1;
}

.input-radio:disabled ~ .label-radio,
.input-check:disabled ~ .label-check {
  color: rgba(40, 49, 54, 0.3);
  cursor: pointer;
}

.input-radio:disabled ~ .label-radio::before,
.input-radio:disabled ~ .label-radio::after,
.input-check:disabled ~ .label-check::before {
  opacity: 0.1;
}

.form-btn {
  width: 100%;
  margin-top: 4px;
  color: #000000;
  background-color: #eeeeee;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #dfdfdf;
}

.form-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.range-controls {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 14px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.range-controls::before,
.range-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  margin-top: -1px;
}

.range-controls::before {
  left: 28px;
  z-index: 1;
  width: 142px;
  background-color: #00ca74;
}

.range-controls::after {
  left: 20px;
  width: 220px;
  background-color: #d7dcde;
}

.range-slider {
  position: absolute;
  top: 50%;
  z-index: 5;
  width: 20px;
  height: 23px;
  margin-top: -11px;
  border: none;
  background: none;
  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-size: 20px 23px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-min {
  left: 28px;
}

.slider-max {
  left: calc(28px + 142px);
}











.range-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.range-label {
  line-height: 22px;
  vertical-align: middle;
  text-transform: uppercase;
}

.range-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  margin-left: 8px;
  padding: 7px 8px 9px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 53px;
  padding-top: 6px;
}

.sort-text {
  margin: 0 auto 0 0;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-type,
.sort-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-type {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  max-width: 500px;
  margin-right: 3px;
}

.sort-order {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 60px;
}








.sort-option {
  margin-right: 26px;
  margin-bottom: 4px;
}

.order-option {
  margin-left: 16px;
}

.sort-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  -webkit-transition: opacity ease-in-out 0.1s;
  -o-transition: opacity ease-in-out 0.1s;
  transition: opacity ease-in-out 0.1s;
}

.sort-link:hover[href],
.sort-link:focus[href] {
  opacity: 0.6;
  outline: none;
}

.sort-link:active[href],
.option-current .sort-link {
  opacity: 1;
}

.order-link {
  display: block;

  width: 13px;
  height: 18px;
}

.link-desc,
.link-asc {
  position: relative;
  outline: none;
}

.link-desc::before,
.link-asc::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 1px;
  width: 1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.2;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.link-desc::before {
  border-top: 10px solid #a6a6a6;
}

.link-asc::before {
  border-bottom: 10px solid #a6a6a6;
}

.link-desc:hover[href]::before,
.link-asc:hover[href]::before,
.link-desc:focus[href]::before,
.link-asc:focus[href]::before {
  opacity: 1;
}

.link-desc:active[href]::before,
.option-current .link-desc::before {
  border-top-color: #231f20;
  opacity: 1;
}

.link-asc:active[href]::before,
.option-current .link-asc::before {
  border-bottom-color: #231f20;
  opacity: 1;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0 0 27px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
  padding-top: 40px;
  background-color: rgba(77, 77, 77, 0.12);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  background-color: #4d4d4d;
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow:
    23px 0 0 0 #ffffff,
    46px 0 0 0 #ffffff;
  box-shadow:
    23px 0 0 0 #ffffff,
    46px 0 0 0 #ffffff;
}

.catalog-info {
  position: absolute;
  bottom: 0;
  left: -1000px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-height: 576px;
  padding: 26px 50px 43px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item:hover .catalog-info {
  left: 0;
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.catalog-link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 100%;
  color: #000000;
  outline: none;
}

.catalog-title {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-link:hover,
.catalog-link:focus {
  color: #fb565a;
}

.catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:not(:hover) .catalog-link:focus,
.catalog-item:not(:hover) .catalog-link:focus ~ .catalog-description,
.catalog-item:not(:hover) .catalog-link:focus ~ .catalog-buy,
.catalog-item:not(:hover) .catalog-buy:focus {
  position: relative;
  left: 1000px;
}

.catalog-item:not(:hover) .catalog-link:focus::after,
.catalog-item:not(:hover) .catalog-buy:focus::after {
  content: "";
  position: absolute;
  top: -26px;
  left: calc(50% - 180px);
  z-index: -1;
  width: 361px;
  height: 576px;
  background-color: #eeeeee;
}

.catalog-description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 386px;
  margin: 0 0 26px;
  padding: 0 0 5px;
  line-height: 18px;
  color: #666666;
  overflow-y: auto;
}

.catalog-buy {
  min-width: 200px;
  max-width: 100%;
  min-height: 50px;
}

.catalog-foto {
  position: relative;
  width: 360px;
  height: 576px;
  margin: 0;
}

.catalog-foto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 1, 1, 0.1);
}

.catalog-item:hover .catalog-foto::before {
  border: 1px solid rgba(77, 77, 77, 0.1);
}

.catalog-foto img {
  display: block;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 50px;
  margin-right: 11px;
  padding: 16px 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.pagination-link:hover[href],
.pagination-link:focus[href] {
  background-color: #dfdfdf;
}

.pagination-link:active[href] {
  color: (0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-current .pagination-link {
  padding: 13px 11px;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-next {
  min-width: 260px;
}

.main-footer {
  margin-top: auto;
}

.contacts {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 416px;
  padding-top: 54px;
  padding-bottom: 54px;
}

.contacts-info {
  position: relative;
  z-index: 10;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 319px;
  padding: 49px 50px 47px;
  background-color: #ffffff;
}

.contacts-lead {
  display: block;
  margin: 0 0 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts-text {
  margin: 0 0 18px;
  line-height: 18px;
  color: #666666;
}

.contacts-btn {
  width: 100%;
  margin-top: 20px;
}

.contacts iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 416px;
  margin: 0;
  border: none;
}

.contacts-map {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #b5b5b5;
  overflow: hidden;
}

.contacts-map img {
  width: 1440px;
  min-width: 1440px;
  height: 416px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 69px;
  padding-bottom: 69px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 0 -12px;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 12px;
  margin-bottom: 12px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  position: relative;
  display: block;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  outline: none;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.social-link:active::before {
  opacity: 0.3;
}

.link-vkontakte::before {
  background-image: url("../img/vk-icon.svg");
  background-size: 26px 15px;
}

.link-facebook::before {
  background-image: url("../img/fb-icon.svg");
  background-size: 12px 22px;
}

.link-instagram::before {
  background-image: url("../img/insta-icon.svg");
  background-size: 21px 21px;
}

.social-info {
  width: 760px;
  padding-top: 6px;
}

.social-lead {
  display: block;
  margin: 0 0 9px;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.social-text {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
  padding: 66px 100px 84px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-opened {
  display: block;
  -webkit-animation-name: popup;
  animation-name: popup;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-invalid {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background: none;
  background-image: url("../img/close-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  outline: none;
}

.modal-close:active {
  opacity: 0.1;
}

.write-title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
  width: 90%;
  margin: 0 0 42px;
  padding: 0;
}

.write-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 760px;
}

.write-item {
  width: 360px;
  margin: 0 0 32px;
}

.item-message {
  width: 760px;
}

.write-label {
  display: block;
  margin: 0 0 10px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-input,
.write-textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px 12px 14px;
  font: inherit;
  line-height: 18px;
  vertical-align: top;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.write-input::-webkit-input-placeholder,
.write-textarea::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.5;
}

.write-input:-ms-input-placeholder,
.write-textarea:-ms-input-placeholder {
  color: #444444;
  opacity: 0.5;
}

.write-input::-ms-input-placeholder,
.write-textarea::-ms-input-placeholder {
  color: #444444;
  opacity: 0.5;
}

.write-input::placeholder,
.write-textarea::placeholder {
  color: #444444;
  opacity: 0.5;
}

.write-input:hover,
.write-textarea:hover {
  border-color: #b4b9bb;
}

.write-input:focus,
.write-textarea:focus {
  border-color: #000000;
  outline: none;
}

.write-input:invalid,
.write-textarea:invalid {
  color: #e74246;
  border-color: #e74246;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.write-textarea {
  display: block;
  height: 118px;
  resize: none;
}

.write-btn {
  width: 260px;
  margin-top: 15px;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translate(-3000px, -50%);
    transform: translate(-3000px, -50%);
  }

  70% {
    -webkit-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
  }

  90% {
    -webkit-transform: translate(-52%, -50%);
    transform: translate(-52%, -50%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: translate(-3000px, -50%);
    transform: translate(-3000px, -50%);
  }

  70% {
    -webkit-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
  }

  90% {
    -webkit-transform: translate(-52%, -50%);
    transform: translate(-52%, -50%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-50%, -50%) rotate(-2deg);
    transform: translate(-50%, -50%) rotate(-2deg);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
    transform: translate(-50%, -50%) rotate(2deg);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-50%, -50%) rotate(-2deg);
    transform: translate(-50%, -50%) rotate(-2deg);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
    transform: translate(-50%, -50%) rotate(2deg);
  }
}

@-webkit-keyframes hover {
  0% {
    background-color: #e8e8e8;
  }

  100% {
    background-color: #eeeeee;
  }
}

@keyframes hover {
  0% {
    background-color: #e8e8e8;
  }

  100% {
    background-color: #eeeeee;
  }
}
